################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AFIRegistration.Api/bin/Debug/netcoreapp3.1
/src/AFIRegistration.Api/obj
